In [2]:
# This was code that attempted to combine all 10 years of data into a single pandas Dataframe. But failed.
# The issue was in storing over 70 gigabytes worth of CSV files in a singe Dataframe, which crashed the program half way through
# 
#
#
#

In [1]:
#Load libaries
import os
import pandas as pd 
import seaborn as sns
import numpy as np 
import matplotlib.pyplot as plt 
from pydotplus import graph_from_dot_data
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler, LabelEncoder
from scipy import stats
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import MultinomialNB
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor
from sklearn.svm import SVC 
from sklearn import svm, metrics
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.model_selection import train_test_split, GridSearchCV, cross_validate, cross_val_score, KFold
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.linear_model import ElasticNet
from sklearn.metrics import mean_squared_error
from sklearn.metrics import roc_curve
from sklearn.metrics import roc_auc_score, accuracy_score, f1_score, precision_score, recall_score
from collections import Counter

import warnings
warnings.filterwarnings('ignore')

### Looking into ALL Data

In [2]:
data = pd.DataFrame()   # Empty dataset

In [ ]:
directory_path = "Data"
file_list = os.listdir(directory_path)

# Sort the list of files
sorted_files = sorted(file_list)
print("Done sorting")

for filename in file_list:
    file_path = os.path.join(directory_path, filename)

    with open(file_path, 'r') as file:
        print(f"File name: {filename}")
        temp_data= pd.read_csv(file_path, on_bad_lines='skip')
        data = pd.concat([data, temp_data], axis=0)
        

print("DONE!")

Done sorting
File name: 2018data.csv
File name: 2020data.csv
File name: 2013data.csv
File name: 2019data.csv
File name: 2014data.csv
File name: 2015data.csv
File name: 2022data.csv
File name: 2021data.csv

In [ ]:
data.head()

# Cleaning the data

## Debuging Data

In [18]:
debug_data.head()

         Date   Longitude   Latitude   EVI  TA    LST  Wind  Fire
0  2022-01-01 -123.754626  41.994986  1712   5  13505    23     0
1  2022-01-01 -123.750462  41.994986  1923   5  13505    23     0
2  2022-01-01 -123.746298  41.994986  1923   5  13505    23     0
3  2022-01-01 -123.742134  41.994986  1815   5  13505    23     0
4  2022-01-01 -123.737970  41.994986  3449   5  13571    23     0

In [19]:
debug_data2 = pd.read_csv('Data/2021data.csv', on_bad_lines='skip')

In [20]:
debug_data2.head()

         Date   Longitude   Latitude   EVI  TA    LST  Wind  Fire
0  2021-01-01 -123.754626  41.994986  2219   5  13663    48     0
1  2021-01-01 -123.750462  41.994986  2238   5  13663    48     0
2  2021-01-01 -123.746298  41.994986  2238   5  13663    48     0
3  2021-01-01 -123.742134  41.994986  2834   5  13663    48     0
4  2021-01-01 -123.737970  41.994986  3057   4  13660    48     0

In [21]:
output_data = pd.concat([debug_data, debug_data2], axis=0)

In [22]:
output_data.head()

         Date   Longitude   Latitude   EVI  TA    LST  Wind  Fire
0  2022-01-01 -123.754626  41.994986  1712   5  13505    23     0
1  2022-01-01 -123.750462  41.994986  1923   5  13505    23     0
2  2022-01-01 -123.746298  41.994986  1923   5  13505    23     0
3  2022-01-01 -123.742134  41.994986  1815   5  13505    23     0
4  2022-01-01 -123.737970  41.994986  3449   5  13571    23     0

In [23]:
output_data.isnull().sum() # return number of missing value for each column

Date         0
Longitude    0
Latitude     0
EVI          0
TA           0
LST          0
Wind         0
Fire         0
dtype: int64

## Data Cleaning

In [ ]:
data.head()

In [ ]:
data.isnull().sum() # return number of missing value for each column

In [ ]:
data.dropna(axis=0, inplace=True) # drop the rows with null values
data.isnull().sum() # return number of missing value for each column

In [ ]:
#if 'Date' in data:
data = data.drop(['Date', 'Longitude', 'Latitude'], axis = 1) 
data.head()

In [ ]:
data.TA.value_counts()

In [ ]:
data = data[data.TA !=-999] 
data = data[data.TA != 3]
data = data[data.TA != 4]

In [ ]:
data.TA.value_counts()

In [ ]:
Count=data.Fire.value_counts() #count target feature 
print('Proportion:', round(Count[0] / Count[1], 2), ': 1')
Count

# Outputing the data

In [ ]:
# Exportng the data to a csv
data.to_csv("Full_data.csv", index=False)

In [ ]:
import zipfile

def zip_file(file_path, zip_path):
    # Create a zip file
    with zipfile.ZipFile(zip_path, 'w', zipfile.ZIP_DEFLATED) as zipf:
        # Add the file to the zip archive
        zipf.write(file_path, arcname='file_to_zip.txt')

# Example usage
file_to_zip = "Full_data.csv"
zip_file_path = "Full_data.zip"

zip_file(file_to_zip, zip_file_path)